*{
    background-color: #f1c40f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 25px;
}

button {
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    font-size: large;
    cursor: pointer;
}

.baseBotones {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}