*{
    background-color: #16a085;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: black; */
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}